@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Righteous&display=swap');

html,
body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
background-image: url("/ag-square.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

